<!DOCTYPE html>
<html>
  <head>
    <title>Моя страница</title>
    <style>
      .center-text {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= render partial: 'cart/cart' if @render_cart%>
     <h1> Домашняя страница</h1>
  </body>
</html>