<!DOCTYPE html>
<html>
  <head>
    <title>Моя страница</title>
    <style>
      .center-text {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <p style="color: green"><%= notice %></p>
     <h1> Домашняя страница</h1>
  </body>
</html>